.header {
  padding: 20px;
  background-color: $color-background;
}

.header__wrapper {
  @include desktop-grid;
  @include media-tablet {
    @include tablet-grid;
  }
}

.search {
  width: 160px;
  height: 20px;
  padding: 5px 15px;
  outline: none;
  border-radius: 20px;
  border: 1px solid #278D9F;
  color: #fff;
  font-size: 18px;
  background-color: rgba(31, 112, 127, .3);
  background-image: url("../assets/img/svg/search.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 160px center;
  backdrop-filter: blur(6px);
  @include media-tablet {
    width: 110px;
    background-position: 100px center;
  }
}

.navigation {
  @include flex;
}

.favorite-number {
  display: inline-block;
  min-width: 30px;
  height: 30px;
  background-color: $color-active;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 7px;
  text-align: center;
  line-height: 30px;
}