.content {
  padding: 20px;
}

// Стили для страницы с игрушками

.content__gifts {
  background-color: $color-background;
}

.settings {
  @include flex;
  font-size: 1.5rem;
  margin-bottom: 20px;
    &__title {
      font-size: 1.8rem;
    } 
    &_wide {
      width: 350px;
    }
    &_narrow {
      width: 250px;
    }
}

p.settings__title {
  width: 100%;
  margin-bottom: 10px;
}

.select {
  appearance: none;
  width: 240px;
  height: 40px;
  margin: 10px 0;
  background-image: url("../assets/img/svg/arrow-down.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 210px center;
  font-size: 1.5rem;
}

.range {
  @include flex;
  width: 350px;
  margin-bottom: 20px;
}

.number {
  font-size: 1.5rem;
}

.settings__input {
  appearance: none;
  width: 280px;
  height: 3px;
  border-radius: 10px;
  background: linear-gradient(to right, $color-active 0%, $color-active 47%, $color-white 47%, $color-white 100%);
  &::-webkit-slider-thumb {
    appearance: none;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-image: url("../assets/img/svg/ball.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.cards-container {
  overflow-y: scroll;
}

.cards-inner-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  height: 520px;
}

.cards-layout {
  display: flex;
  justify-content: center;
}

@media (max-width: 1300px) {
  .cards-inner-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  };
}

@media (max-width: 1100px) {
  .cards-inner-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  };
}

@media (max-width: 880px) {
  .cards-inner-container {
    grid-template-columns: 1fr;
  };
}
