.content {
  padding: 15px;
}

// Стили для страницы с игрушками

.content__gifts {
  background-color: $color-background;
}

.settings {
  @include flex;
  font-size: 1.5rem;
  margin-bottom: 20px;
    &__title {
      font-size: 1.8rem;
    } 
    &_wide {
      width: 350px;
    }
    &_narrow {
      width: 250px;
    }
}

p.settings__title {
  width: 100%;
  margin-bottom: 10px;
}

.select {
  appearance: none;
  width: 325px;
  height: 40px;
  margin: 10px 0;
  background-image: url("../assets/img/svg/arrow-down.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 285px center;
  font-size: 1.5rem;
}

.range {
  @include flex;
  width: 350px;
  margin-bottom: 15px;
  &__container {
    @include flex;
    flex-wrap: nowrap;
    text-align: center;
    pointer-events: none;
    &_inner {
      width: 330px;
    }
  }
}

.number {
  font-size: 1.5rem;
}

.settings__input {
  appearance: none;
  position: relative;
  width: 280px;
  height: 3px;
  border-radius: 10px;
  background: $color-active;
  &:nth-child(1) {
    top: 5px;
  }
  &:nth-child(2) {
    bottom: 5px;
  }
  &::-webkit-slider-thumb {
    position: relative;
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: $color-active;
    pointer-events: all;
    &:hover {
      cursor: w-resize;
    }
    &:active {
      background-color: $color-white;
      border: 3px solid $color-active;
    }
  }
}

.cards-container {
  overflow-y: scroll;
}

.cards-inner-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  height: 520px;
}

.cards-layout {
  display: flex;
  justify-content: center;
}

@media (max-width: 1300px) {
  .cards-inner-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  };
}

@media (max-width: 1100px) {
  .cards-inner-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  };
}

@media (max-width: 880px) {
  .cards-inner-container {
    grid-template-columns: 1fr;
  };
}
