.contacts {
width: 19.5%;
}

.flex__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex__title {
    width: 100%;
}

.contacts__details {
    margin-bottom: 2.5rem;
    @include font($weight: 300, $letter: 0);
}

.contacts__link {
    color: $color-black;
}

.museum-title {
    display: block;
    margin-bottom: 5rem;
    @include font($size: 2.8rem, $height: 3.281rem, $weight: 500, $letter: 0);
}

.map {
    width: 70.5%;
}

.contacts__map {
    width: 100%;
    height: auto;
}

@media (max-width: 1500px) {
    .museum-title {
        font-size: 2.4rem;
        line-height: 2.813rem;
    }

    .contacts {
        width: 27%;
    }

    .contacts__details {
        font-size: 2rem;
        line-height: 2.344rem;
    }
}

@media (max-width: 1023px) {
    .tickets_section {
        justify-content: flex-start;
    }

    .museum-title {
        width: 15.5rem;
        font-size: 2rem;
        line-height: 2.344rem;
    }

    .contacts__details {
        font-size: 1.8rem;
        line-height: 2.109rem;
    }

    .contacts {
        width: 33%;
    }

    .map {
        width: 100%;
        margin-bottom: 2.7rem;
    }
}