.contacts {
width: 19.5%;
}

.flex__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex__title {
    width: 100%;
}

.contacts__details {
    margin-bottom: 2.5rem;
    @include font($weight: 300, $letter: 0);
}

.contacts__link {
    color: $color-black;
}

.museum-title {
    display: block;
    margin-bottom: 5rem;
    @include font($size: 2.8rem, $height: 3.281rem, $weight: 500, $letter: 0);
}

.map {
    width: 70.5%;
}

.contacts__map {
    width: 100%;
    height: auto;
}

@media (max-width: 1500px) {
    .museum-title {
        width: 185px;
        margin-bottom: 35px;
        font-size: 2.4rem;
        line-height: 2.813rem;
    }

    .contacts {
        width: 27%;
    }

    .contacts__details {
        margin-bottom: 15px;
        font-size: 2rem;
        line-height: 2.344rem;
    }

    .contacts__map {
        max-width: 67.78vw;
        height: auto;
    }
}

@media (max-width: 1023px) {
    .tickets_section {
        justify-content: flex-start;
    }

    .museum-title {
        width: 15.5rem;
        font-size: 2rem;
        line-height: 2.344rem;
    }

    .contacts__details {
        font-size: 1.8rem;
        line-height: 2.109rem;
    }

    .contacts {
        width: 33%;
    }

    .map {
        width: 100%;
        padding-bottom: 27px;
    }

    .contacts__map {
        display: block;
        margin-top: 25px;
        max-width: calc(100vw - 40px);
        width: calc(100vw - 40px);
        height: 476px;
    }
}

@media (max-width: 767px) {
    .museum-title {
        width: 12.4rem;
        font-size: 1.6rem;
        line-height: 1.875rem;
        margin-bottom: 4rem;
    }

    .contacts__details {
        font-size: 1.6rem;
        line-height: 1.875rem;
        margin-bottom: 1.5rem;
    }

    .contacts {
        width: 100%;
    }
}