.tour__link {
    margin-bottom: 7.5rem;
    &:nth-child(n+4) {
        margin-bottom: 0;
    }
    &:hover .tour__title:after {
        width: 100%;
    }
}

.tour__preview {
    display: block;
    width: 100%;
}

.tour__title {
    margin: 25px 0 10px 0;
    @include font($size: 3.2rem, $height: 3.533rem, $letter: 0.5rem);
    &:after {
        content: "";
        display: block;
        width: 30rem;
        height: 0.2rem;
        margin-top: 1rem;
        background-color: $color-primary;
        @extend %transition;
    }
}

.tour__text {
    width: 100%;
}

@media (max-width: 1500px) {
    .tour__container {
        justify-content: space-evenly;
    }

    .tour {
        width: 33rem;
    }

    .tour__title {
        font-size: 2.8rem;
        line-height: 3.091rem;
        letter-spacing: 0.3rem;
        &::after {
            width: 15rem;
        }
    }

    .tour__text {
        font-size: 2rem;
        line-height: 2.344rem;
        &:nth-child(2) {
            margin-bottom: 1rem;
        }
    }
}

@media (max-width: 1023px) {
    .tour {
        width: 28rem;
    }

    .tour__title {
        font-size: 2.2rem;
        line-height: 2.429rem;
    }

    .tour__text {
        font-size: 1.8rem;
        line-height: 2.109rem;
    }

    .tour__link {
        margin-bottom: 4rem;
    }

    .tour__link:nth-child(n+4) {
        margin-bottom: 4rem;
    }
}

@media (max-width: 767px) {
    .tour__title {
        font-size: 1.8rem;
        line-height: 1.987rem;
    }

    .tour__text {
        font-size: 1.6rem;
        line-height: 1.875rem;
    }
}