.welcome__title {
    @include display($width: 59.3rem);
    margin-bottom: 2.5rem;
    @include font($size: 8rem, $height: 9rem);
    text-transform: uppercase;
}

.welcome__content {
    position: relative;
    padding-top: 15rem;
}

.welcome__text {
    @include font($size: 2.8rem, $height: 3.281rem, $weight: 300);
    margin-bottom: 7.5rem;
}

.welcome__carousel {
    @extend %flex;
    position: absolute;
    left: 84rem;
    top: 69rem;
    padding: 4rem 7.5rem;
    width: 60rem;
    height: 12rem;
    background: $color-background;
}

.numeration {
    width: 76px;
    @include font($height: 2rem, $letter: 0);
}

.numeration__current {
    padding-right: 1rem;
    border-right: 2px solid white;
}

.numeration__total {
    margin-left: 1rem;
}

@media (max-width: 1024px) {
    .welcome__wrapper {
        background-size: 70rem 52.5rem;
    }

    .welcome__content {
        padding-top: 5rem;
    }

    .welcome__title {
        width: 39.8rem;
        @include font($size: 5rem, $height: 9rem, $letter: 0.5rem);
    }

    .welcome__text {
        font-size: 2.4rem;
        line-height: 2.813rem;
    }

    .welcome__carousel {
        top: 46.5rem;
        left: 30.4rem;
        width: 70rem;
        padding-left: 22.4rem;
    }

    .numeration {
        font-size: 2rem;
    }          
}