/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1, h2, h3, p, figure {
  margin: 0;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

@font-face {
  font-family: "Forum";
  src: url("../assets/fonts/forum-regular.eot");
  src: url("../assets/fonts/forum-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/forum-regular.woff2") format("woff2"), url("../assets/fonts/forum-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/roboto-bold.eot");
  src: url("../assets/fonts/roboto-bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/roboto-bold.woff2") format("woff2"), url("../assets/fonts/roboto-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/roboto-light.eot");
  src: url("../assets/fonts/roboto-light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/roboto-light.woff2") format("woff2"), url("../assets/fonts/roboto-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/roboto-medium.eot");
  src: url("../assets/fonts/roboto-medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/roboto-medium.woff2") format("woff2"), url("../assets/fonts/roboto-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/roboto-regular.eot");
  src: url("../assets/fonts/roboto-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/roboto-regular.woff2") format("woff2"), url("../assets/fonts/roboto-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/roboto-thin.eot");
  src: url("../assets/fonts/roboto-thin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/roboto-thin.woff2") format("woff2"), url("../assets/fonts/roboto-thin.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
.video-carousel, .video-next__wrapper, .welcome__carousel, .pagination, .navigation, .header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title__bookform, .title {
  font-family: "Forum", "Georgia", serif;
}

.subtitle, body {
  font-family: "Roboto", "Verdana", sans-serif;
}

.logo, .buy, .tickets__buy:active, .tickets__buy:hover, .age__button:active, .age__button:hover, .tickets__type-option:active .tickets__type-label, .tickets__type-option:hover .tickets__type-label, .video-next:active .button-play__small, .video-next:hover .button-play__small, .tour__title:after, .pagination-circle, .pagination-square, .footer_item:active, .footer_item a:hover, .socials__button:hover::before, .socials__button:hover .social-path, .link-on-dark, .button__link {
  transition: all 0.3s ease-out;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.578rem;
  letter-spacing: 0.2rem;
}

.title {
  font-size: 8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 9rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
.title_underlined {
  margin-bottom: 7.5rem;
  padding-bottom: 2.5rem;
  border-bottom: 0.3rem solid #710707;
}
.title_light {
  color: #9D8665;
}

.subtitle {
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.281rem;
  letter-spacing: 0;
  text-transform: capitalize;
}

.text {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 3.85rem;
  letter-spacing: 0.2rem;
}

.text__colored {
  color: #CAAA7D;
}

.dark {
  color: #ffffff;
  background-color: #030303;
}

.link {
  color: #000000;
}

.navigation {
  margin: 0;
}

@media (max-width: 1500px) {
  .title {
    font-size: 5rem;
    line-height: 7.5rem;
  }
  .title_underlined {
    margin-bottom: 6rem;
    padding-bottom: 2rem;
  }
}
@media (max-width: 1023px) {
  .title {
    font-size: 4rem;
    line-height: 6rem;
  }

  .title_underlined {
    margin-bottom: 4rem;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 2.8rem;
    line-height: 4rem;
  }
}
.button__link {
  display: flex;
  width: 36rem;
  height: 7.5rem;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.578rem;
  letter-spacing: 0.2rem;
  border-radius: 1rem;
  color: #ffffff;
  background-color: #710707;
}
.button__link:hover {
  background-color: #D2B183;
}
.button__link:active {
  background-color: #D2B183;
}
@media (max-width: 1500px) {
  .button__link {
    width: 30rem;
    height: 6rem;
    font-size: 2rem;
    line-height: 2.344rem;
  }
}
.button__link_text {
  margin: auto;
}

.button__close {
  height: 25px;
  outline: none;
  position: absolute;
  right: 30px;
  top: 30px;
  width: 25px;
  cursor: pointer;
}
.button__close::before {
  background-color: #030303;
  content: "";
  height: 30px;
  position: absolute;
  top: 0;
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
  width: 1px;
}
.button__close::after {
  background-color: #030303;
  content: "";
  height: 30px;
  position: absolute;
  top: 0;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in-out;
  width: 1px;
}
.button__close:hover::before {
  transform: rotate(135deg);
}
.button__close:hover::after {
  transform: rotate(45deg);
}

@media (max-width: 1023px) {
  .button__link {
    display: none;
  }
}
.logo {
  width: 4.9rem;
  height: 2.6rem;
  margin-right: 2.5rem;
  margin-bottom: 7px;
}

.logo__link {
  display: flex;
  align-items: center;
  color: #ffffff;
}
.logo__link:hover {
  color: #D2B183;
}
.logo__link:hover .logo {
  filter: invert(15%) sepia(14%) saturate(769%) hue-rotate(356deg) brightness(93%) contrast(92%);
}

.logo__title {
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.091rem;
  letter-spacing: 0.5rem;
  margin: 1px 0;
}

@media (max-width: 1023px) {
  .logo__title {
    line-height: 5rem;
  }

  .logo__link {
    height: 41px;
    padding-top: 10px;
  }
}
@media (max-width: 767px) {
  .logo__link {
    width: 13.6rem;
  }

  .logo {
    background-size: 2.9rem 1.6rem;
  }

  .logo__title {
    font-size: 1.6rem;
    line-height: 1.766rem;
  }
}
@keyframes popup {
  0% {
    display: block;
  }
  95% {
    left: 13%;
  }
  to {
    left: unset;
  }
}
@keyframes popup-hide {
  0% {
    left: 13%;
  }
  95% {
    left: -100%;
  }
  to {
    display: none;
  }
}
@media (max-width: 1500px) {
  @keyframes popup {
    0% {
      display: block;
    }
    to {
      left: 0;
    }
  }
}
@media (max-width: 1023px) {
  @keyframes popup {
    0% {
      display: block;
    }
    to {
      left: 12.5%;
    }
  }
}
@media (max-width: 676px) {
  @keyframes popup {
    0% {
      display: block;
    }
    to {
      left: 0;
    }
  }
}
.wrapper {
  max-width: 1440px;
  margin: auto;
  position: relative;
}
@media (max-width: 1500px) {
  .wrapper {
    max-width: 984px;
  }
}

.wrapper__welcome {
  position: relative;
  min-height: 81rem;
  background-image: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%), url("../assets/img/welcome/1.jpg");
  background-size: 100rem 75rem;
  background-repeat: no-repeat;
  background-position: right top;
}
@media (max-width: 1500px) {
  .wrapper__welcome {
    min-height: 58.5rem;
    background-size: 70rem 52.5rem;
  }
}

.wrapper__section {
  padding: 7.5rem 0;
}

.wrapper__gallery {
  padding-bottom: 0;
}

@media (max-width: 1500px) {
  .wrapper__section {
    padding: 6rem 0;
  }
}
@media (max-width: 1023px) {
  .wrapper {
    max-width: 728px;
  }

  .header__wrapper {
    padding: 3.5rem 0;
  }

  .wrapper__section {
    padding: 4rem 0;
  }
}
@media (max-width: 767px) {
  .wrapper {
    max-width: 380px;
  }

  .wrapper__welcome {
    min-height: 54.4rem;
  }
}
.header__wrapper {
  padding: 5.9rem 0;
}

.burger {
  display: none;
}

.navigation {
  font-weight: 200;
  cursor: pointer;
}

.navigation__link {
  margin-right: 5.5rem;
}
.navigation__link:last-child {
  margin-right: 0;
}

.link-on-dark {
  color: #ffffff;
}
.link-on-dark:hover {
  color: #D2B183;
}
.link-on-dark:active {
  color: #D2B183;
}

@media (max-width: 1500px) {
  .header__wrapper {
    padding: 4.9rem 0;
  }

  .navigation {
    display: none;
  }
}
@media (max-width: 1023px) {
  .header__wrapper {
    padding: 3.5rem 0;
  }
}
.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-3-column > * {
  flex-basis: 30%;
}

.layout-2-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-2-column > * {
  flex-basis: 46%;
}

@media (max-width: 1500px) {
  .layout-2-column {
    display: block;
  }
}
.footer__topwrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.top {
  padding: 7.5rem 0 5.5rem 0;
  align-items: flex-start;
}

.bottom {
  padding: 5rem 0;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 200;
  line-height: 2.2rem;
  letter-spacing: 0.2rem;
}

.footer-bottomline {
  border-top: 0.3rem solid #666666;
}

.footer__logo {
  margin-right: 14.5rem;
}

.logo__link {
  flex-wrap: nowrap;
}

.footer-navigation__column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 366px;
  height: 150px;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 200;
  line-height: 5rem;
  letter-spacing: 0.2rem;
}

.footer-nav__socials {
  display: flex;
  align-self: flex-end;
  list-style: none;
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
}

.socials__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.socials li {
  margin-right: 24px;
}

.socials li:last-child {
  margin-right: 0px;
}

.socials__button::before {
  content: "";
  position: absolute;
  top: -0.2rem;
  left: -0.2rem;
  width: 48px;
  height: 48px;
  border: 1px solid #666666;
  border-radius: 50px;
}

.socials__button:hover .social-path {
  fill: #D2B183;
}

.socials__button:hover::before {
  border: 1px solid #D2B183;
}

.footer_item {
  cursor: pointer;
}

.footer_item a {
  color: #ffffff;
}

.footer_item a:hover {
  color: #D2B183;
}

.footer_item:active {
  color: #D2B183;
}

@media (max-width: 1500px) {
  .top {
    padding: 63px 0 50px 0;
    height: 243px;
  }

  .footer__logo {
    margin-right: 39px;
  }

  .footer-navigation__column {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
    width: 313px;
    margin-top: 3px;
  }

  .footer-nav-link {
    line-height: 25.78px;
  }

  .footer-nav__socials {
    margin-bottom: 19px;
  }

  .footer__topwrapper {
    grid-template-columns: max-content 1fr max-content;
  }

  .bottom {
    padding-top: 5.4rem;
  }
}
@media (max-width: 1023px) {
  .top {
    padding: 40px 0;
  }

  .footer {
    height: 308px;
    border-bottom: 1px solid #666666;
  }

  .footer__topwrapper {
    grid-template-columns: 0.5fr 1fr;
  }

  .footer__logo {
    margin-right: 10rem;
  }

  .footer-navigation {
    margin-bottom: 12px;
  }

  .footer-navigation__column {
    margin-top: 20px;
    grid-template-rows: repeat(3, 45px);
  }

  .footer-nav__socials {
    grid-column: 2/3;
    margin-bottom: 0;
  }

  .footer-nav-link {
    font-size: 18px;
    line-height: 21.09px;
    letter-spacing: 2px;
    margin-right: 18.4rem;
  }

  .bottom {
    padding-top: 43px;
    padding-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .logo__link {
    margin-bottom: 2.5rem;
  }

  .footer__topwrapper {
    display: block;
  }

  .footer-navigation__column {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    justify-content: space-between;
    column-gap: normal;
  }

  .link-on-dark {
    font-size: 1.6rem;
    line-height: 1.875rem;
  }

  .footer-nav-link {
    margin-right: 0;
  }

  .footer-nav__socials {
    justify-content: center;
  }

  .socials li {
    margin-right: 0.5rem;
  }

  .top {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .footer_item:nth-child(2) {
    display: none;
  }

  .bottom {
    padding: 4rem 0;
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  .footer__bottomline {
    border-top: 2px solid #666666;
  }
}
.navigation_mobile {
  position: absolute;
  top: 13rem;
  left: -150%;
  padding-top: 32px;
  padding-left: 3.5rem;
  width: 100%;
  height: 585px;
  background-color: #000000;
  transition: all 0.3s;
}
.navigation_mobile-active {
  left: 0;
}

.navigation_mobile__list {
  font-size: 2rem;
  line-height: 2.344rem;
  font-weight: 300;
}

.navigation_mobile__link {
  margin-bottom: 2.5rem;
}
.navigation_mobile__link:nth-child(6) {
  margin-bottom: 0;
}
.navigation_mobile__link:hover .link-mobile {
  color: #9D8665;
}
.navigation_mobile__link:hover .link-mobile::after {
  content: "";
  filter: invert(40%) sepia(14%) saturate(769%) hue-rotate(356deg) brightness(93%) contrast(92%);
}

.link-mobile {
  position: relative;
  font-size: 2rem;
  line-height: 2.344rem;
  font-weight: 300;
  color: #ffffff;
  z-index: 100;
}
.link-mobile::after {
  content: "";
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  top: 50%;
  left: 11rem;
  transform: translateY(-30%);
  background-image: url("../assets/img/icons/mobile_arrow.svg");
}

.images__burger {
  display: none;
}

@media (max-width: 1500px) {
  .burger {
    display: block;
    position: relative;
    padding: 0;
    width: 3.2rem;
    height: 1.8rem;
    background-color: #000000;
    border: none;
    cursor: pointer;
    z-index: 4;
  }

  .burger::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transition: all 0.3s ease 0s;
  }

  .burger::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 2px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    transition: all 0.3s ease 0s;
  }

  .burger-line {
    position: absolute;
    width: 32px;
    height: 2px;
    left: 0;
    top: 8px;
    background-color: #ffffff;
    transition: all 0.3s ease 0s;
  }

  .burger-popup::before {
    transform: rotate(45deg);
    top: 0.8rem;
  }

  .burger-popup::after {
    transform: rotate(-45deg);
    top: 0.8rem;
  }

  .burger-popup .burger-line {
    transform: scale(0);
  }
}
.welcome__content-hidden {
  left: -100%;
}

@media (max-width: 1023px) {
  .navigation_mobile-active {
    padding-top: 13px;
  }

  .images__burger {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
    height: 37.5rem;
    padding-bottom: 3.5rem;
    margin-top: 34px;
    position: absolute;
    left: -2px;
  }
  .images__burger::after {
    content: "";
    display: block;
    width: 65.8rem;
    height: 0.1rem;
    margin-top: 1.5rem;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .hidden {
    display: none;
  }

  .footer-nav__socials.active-menu {
    position: absolute;
    top: 71rem;
    left: -10%;
    margin: 0 auto;
    padding: 70px 0 35px 0;
    background-color: transparent;
  }

  .footer__topwrapper {
    position: relative;
  }

  .active-menu {
    background-color: #000000;
  }
}
@media (max-width: 767px) {
  .logo__wrapper {
    height: 2rem;
  }

  .images__burger {
    display: block;
    width: 32.5rem;
    height: 12rem;
  }

  .images__burger img {
    width: 9.5rem;
    height: 95px;
    object-fit: cover;
  }
  .images__burger img:nth-child(1) {
    margin-right: 1.2rem;
  }
  .images__burger img:nth-child(2) {
    margin-right: 1.2rem;
  }

  .images__burger::after {
    margin-top: 2rem;
    width: 33rem;
  }

  .navigation_mobile {
    padding-top: 0;
    height: auto;
  }

  .footer-nav__socials.active-menu {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    left: 18%;
    top: 44.5rem;
  }
}
iframe {
  border: none;
  height: 100vh;
  width: 100vw;
}

.pagination__squared {
  margin-left: 5.5rem;
  margin-right: 6rem;
}

.pagination-square {
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 2.5rem;
  background-color: #ffffff;
  cursor: pointer;
}
.pagination-square:last-child {
  margin-right: 0;
}
.pagination-square:hover {
  background-color: #D2B183;
}
.pagination-square:active {
  background-color: #D2B183;
}

.pagination-square_colored {
  background-color: #D2B183;
}

.pagination-circle {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 2rem;
  background-color: #999999;
  border-radius: 50%;
  cursor: pointer;
}
.pagination-circle:hover {
  background-color: #333333;
}
.pagination-circle:active {
  background-color: #333333;
}

.pagination-circle_colored {
  background-color: #333333;
}

.numeration, .controls {
  display: flex;
}

.controls-left {
  margin-right: 20px;
}

.arrow {
  display: flex;
  cursor: pointer;
}
.arrow:hover .arrow__image {
  filter: invert(58%) sepia(15%) saturate(792%) hue-rotate(356deg) brightness(91%) contrast(83%);
}

@media (max-width: 1500px) {
  .pagination__squared {
    margin-left: 4.5rem;
    margin-right: 4.5rem;
  }

  .pagination-square {
    width: 1.2rem;
    height: 1.2rem;
  }
}
.welcome__title {
  display: block;
  width: 59.3rem;
  height: auto;
  margin-bottom: 2.5rem;
  font-size: 8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 9rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.welcome__content {
  position: relative;
  padding-top: 15rem;
}

.welcome__text {
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 3.281rem;
  letter-spacing: 0.2rem;
  margin-bottom: 7.5rem;
}

.welcome__image_mobile {
  display: none;
}

.welcome__carousel {
  position: absolute;
  left: 84rem;
  top: 69rem;
  padding: 5rem 7.5rem;
  width: 60rem;
  height: auto;
  background: #030303;
}

.numeration {
  width: 76px;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0;
}

.numeration__current {
  padding-right: 1rem;
  border-right: 2px solid white;
}

.numeration__total {
  padding-left: 1rem;
}

@media (max-width: 1500px) {
  .welcome__wrapper {
    background-size: 70rem 52.5rem;
  }

  .welcome__content {
    padding-top: 5rem;
  }

  .welcome__title {
    width: 39.8rem;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 9rem;
    letter-spacing: 0.5rem;
  }

  .welcome__text {
    font-size: 2.4rem;
    line-height: 2.813rem;
    margin-bottom: 5rem;
  }

  .welcome__carousel {
    top: 46.5rem;
    left: 28.4rem;
    width: 70rem;
    padding-left: 22.4rem;
  }

  .numeration {
    font-size: 2rem;
  }
}
@media (max-width: 1023px) {
  .wrapper__welcome {
    background-image: none;
  }

  .welcome__content {
    padding-top: 0;
    text-align: center;
  }

  .welcome__title {
    width: 34rem;
    margin: 0 auto;
    margin-bottom: 2.5rem;
    font-size: 4rem;
    line-height: 6rem;
  }

  .welcome__text {
    margin-bottom: 4.6rem;
    font-size: 2rem;
    line-height: 2.344rem;
  }

  .welcome__image_mobile {
    display: block;
    width: 100%;
    height: 54.6rem;
  }

  .welcome__carousel {
    position: static;
    padding: 4rem 0;
    margin: 0 auto;
    width: 40.1rem;
  }
}
@media (max-width: 767px) {
  .welcome__content {
    padding-top: 0.5rem;
  }

  .welcome__title {
    width: 25.5rem;
    font-size: 2.8rem;
    line-height: 4rem;
  }

  .welcome__text {
    font-size: 1.6rem;
    line-height: 1.875rem;
  }

  .welcome__image_mobile {
    height: auto;
  }

  .welcome__carousel {
    padding: 4rem 0;
    width: 23rem;
    height: 4rem;
  }

  .numeration {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .numeration__current {
    padding-right: 0.5rem;
  }

  .numeration__total {
    padding-left: 0.5rem;
  }

  .pagination__squared {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  .pagination-square {
    width: 0.7rem;
    height: 0.7rem;
    margin-right: 1rem;
  }

  .arrow__image {
    width: 2rem;
    height: 0.8rem;
  }

  .controls-left {
    margin-right: 1.5rem;
  }
}
.tour__link {
  margin-bottom: 7.5rem;
}
.tour__link:nth-child(n+4) {
  margin-bottom: 0;
}
.tour__link:hover .tour__title:after {
  width: 100%;
}

.tour__preview {
  display: block;
  width: 100%;
}

.tour__title {
  margin: 25px 0 10px 0;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.533rem;
  letter-spacing: 0.5rem;
}
.tour__title:after {
  content: "";
  display: block;
  width: 30rem;
  height: 0.2rem;
  margin-top: 1rem;
  background-color: #710707;
}

.tour__text {
  width: 100%;
}

@media (max-width: 1500px) {
  .tour__container {
    justify-content: space-evenly;
  }

  .tour__link {
    margin-bottom: 6rem;
  }
  .tour__link:nth-child(4) {
    margin-bottom: 6rem;
  }

  .tour {
    width: 33rem;
  }

  .tour__preview {
    height: 215px;
  }

  .tour__title {
    font-size: 2.8rem;
    line-height: 3.091rem;
    letter-spacing: 0.3rem;
  }
  .tour__title::after {
    width: 15rem;
  }

  .tour__text {
    font-size: 2rem;
    line-height: 2.344rem;
    font-weight: 200;
    letter-spacing: 0;
  }
  .tour__text:nth-child(2) {
    margin-bottom: 1rem;
  }

  .tour__text_small {
    font-size: 1.6rem;
    line-height: 1.875rem;
    font-weight: 200;
    letter-spacing: 0;
  }
}
@media (max-width: 1023px) {
  .tour {
    width: 28rem;
  }

  .tour__preview {
    height: 180px;
  }

  .tour__title {
    font-size: 2.2rem;
    line-height: 2.429rem;
  }

  .tour__text {
    font-size: 1.8rem;
    line-height: 2.109rem;
  }

  .tour__text_small {
    font-size: 1.6rem;
    line-height: 1.875rem;
  }

  .tour__link {
    margin-bottom: 4rem;
  }

  .tour__link:nth-child(n+4) {
    margin-bottom: 4rem;
  }
}
@media (max-width: 767px) {
  .tour__title {
    font-size: 1.8rem;
    line-height: 1.987rem;
  }

  .tour__text {
    font-size: 1.6rem;
    line-height: 1.875rem;
  }
}
.explore__text {
  margin-bottom: 2.5rem;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.85rem;
  letter-spacing: 0;
}

.explore__photos {
  width: 72rem;
  height: 70rem;
  position: relative;
}

.photo {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../assets/img/explore/before.jpg");
  background-size: cover;
}
.photo_original {
  width: 61%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}
.photo_filtered {
  background: url("../assets/img/explore/after.jpg");
  background-size: cover;
  z-index: 1;
}

.separator {
  position: absolute;
  top: 50%;
  left: 61%;
  z-index: 3;
  width: 25px;
  height: 25px;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
}
.separator::before {
  content: "";
  width: 2px;
  height: 335px;
  position: absolute;
  bottom: 23px;
  left: 10px;
  background-color: #fff;
}
.separator::after {
  content: "";
  width: 2px;
  height: 335px;
  position: absolute;
  top: 22px;
  left: 10px;
  background-color: #fff;
}

@media (max-width: 1500px) {
  .explore__photos {
    margin: 6.2rem auto 0 auto;
  }

  .explore__text {
    margin: 0;
    font-size: 2rem;
    line-height: 3.85rem;
  }

  .explore__text:nth-child(4) {
    display: none;
  }
}
@media (max-width: 1023px) {
  .explore {
    padding-bottom: 7px;
  }

  .explore__text {
    display: none;
  }

  .explore__photos {
    width: 100%;
    margin: 0 auto;
  }

  .photo {
    height: 705px;
  }

  .separator {
    width: 39px;
    height: 39px;
    top: 365px;
    left: 440px;
    border: 4px solid #fff;
  }
  .separator::before {
    content: "";
    width: 4px;
    height: 348px;
    bottom: 31px;
    left: 13px;
  }
  .separator::after {
    content: "";
    height: 321px;
    width: 4px;
    top: 36px;
    left: 14px;
  }
}
@media (max-width: 767px) {
  .explore__photos {
    margin: 0;
    height: 36.8rem;
  }

  .separator {
    width: 2rem;
    height: 2rem;
  }
  .separator::before {
    content: "";
    height: 17.3rem;
    bottom: 1.7rem;
    left: 0.7rem;
  }
  .separator::after {
    content: "";
    height: 17.3rem;
    top: 1.8rem;
    left: 0.7rem;
  }
}
.video {
  position: relative;
}

.video__introduction {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 7.5rem;
  align-items: center;
}
.video__introduction > * {
  flex-basis: 50%;
}

.video__current {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.video__subtitle {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.85rem;
  letter-spacing: 0;
}

.button-play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
}
.button-play_big {
  width: 22rem;
  height: 22rem;
  border: 0.5rem solid #ffffff;
  border-radius: 50%;
}
.button-play_big:hover {
  border: 1rem solid #D2B183;
}

.button-play__big-object {
  width: 9.1rem;
  height: 12rem;
  position: relative;
  left: 50%;
  transform: translateX(-90%);
}

.play-svg_big {
  cursor: pointer;
}

.play-path_big:hover {
  fill: #D2B183;
}

.button-play__small {
  width: 6.8rem;
  height: 4.8rem;
  position: absolute;
  left: 50%;
  top: 50%;
  background: rgba(33, 33, 33, 0.8);
  border-radius: 20%;
  transform: translate(-50%, -50%);
}

.video__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
  padding: 2.5rem 2.5rem 2.5rem 3rem;
  background-color: #000000;
}

.svg_grey {
  cursor: pointer;
}

.svg_grey:hover .path_grey {
  fill: #ffffff;
}

.controls__object {
  width: 2.3rem;
  height: 3.1rem;
}

.play-range {
  width: 92.9rem;
  appearance: none;
  background-color: #000000;
}
.play-range::-webkit-slider-thumb {
  appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -0.6rem;
}
.play-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  border-radius: 50px;
  background: linear-gradient(to right, #710707 50%, #c4c4c4 50%);
}

.play-range_small {
  width: 15.5rem;
}

.video-next {
  position: relative;
}
.video-next:hover .button-play__small {
  background: #FF0000;
}
.video-next:active .button-play__small {
  background: #FF0000;
}

.video-next__wrapper {
  flex-wrap: nowrap;
  position: absolute;
  top: 1.5rem;
  left: 1rem;
}

.video-next__favicon {
  display: block;
  margin-right: 1rem;
  border-radius: 50%;
}

.video-next__title {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.85rem;
  letter-spacing: 0;
  margin-right: 2.3rem;
  color: #ffffff;
}

.video-next__title_mobile {
  display: none;
}

.video-next__title_smallmobile {
  display: none;
}

.video-next__more {
  display: block;
  position: relative;
  color: #ffffff;
}
.video-next__more::before {
  content: ".";
  position: absolute;
  top: -9px;
  color: #ffffff;
}
.video-next__more::after {
  content: ".";
  position: absolute;
  top: -4px;
  color: #ffffff;
  left: 0;
}

.video-carousel {
  justify-content: center;
  margin-top: 4rem;
}

@media (max-width: 1500px) {
  .video__introduction {
    margin-bottom: 4rem;
  }

  .video__subtitle {
    display: none;
  }

  .video__current {
    height: 44.4rem;
  }

  .button-play_big {
    top: 221px;
    left: 492px;
    width: 15.2rem;
    height: 15.2rem;
  }

  .button-play__big-object {
    width: 6.3rem;
    height: 8.3rem;
  }

  .video__controls {
    height: 60px;
    padding: 1.5rem 4rem;
  }

  .play-range {
    width: 55.07vw;
  }
  .play-range::-webkit-slider-runnable-track {
    height: 5px;
    margin-top: -6px;
    background: linear-gradient(to right, #710707 0%, #710707 40%, #C4C4C4 40%, #C4C4C4 100%);
  }
  .play-range::-webkit-slider-thumb {
    width: 13px;
    height: 13px;
    position: absolute;
    left: 314px;
    margin-top: -5px;
  }

  .controls__button-play {
    padding: 0;
  }

  .volume__object {
    width: 2.6rem;
    height: 2rem;
  }

  .play-range_small {
    width: 13.96vw;
  }
  .play-range_small::-webkit-slider-thumb {
    width: 13px;
    height: 13px;
    position: absolute;
    left: 795px;
    margin-top: -5px;
  }

  .scale__object {
    width: 2.6rem;
    height: 2.6rem;
  }

  .video-next__wrapper {
    top: 1rem;
  }

  .video-next {
    width: 30rem;
    height: 17rem;
  }

  .video-next__title {
    display: none;
  }

  .video-next__title_mobile {
    display: block;
    margin-right: 1.8rem;
    font-size: 1.8rem;
    letter-spacing: 0;
    color: #ffffff;
  }

  .video-next_video {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 1023px) {
  .video__introduction {
    margin-bottom: 2rem;
  }

  .video__current {
    height: 32.9rem;
  }

  .button-play_big {
    width: 8rem;
    height: 8rem;
    border: 0.5rem solid #ffffff;
    top: 166px;
    left: 364px;
  }

  .button-play__big-object {
    width: 3.325rem;
    height: 4.37rem;
  }

  .video__controls {
    padding: 0 30px;
    margin-bottom: 20px;
  }

  .play-range:nth-child(2) {
    position: absolute;
    top: 333px;
    width: 100%;
    left: 0;
  }
  .play-range:nth-child(2)::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #710707 0%, #710707 31%, #C4C4C4 31%, #C4C4C4 100%);
  }
  .play-range:nth-child(2)::-webkit-slider-thumb {
    position: absolute;
    left: 31%;
  }

  .play-range_small {
    width: 48.6rem;
  }
  .play-range_small::-webkit-slider-thumb {
    position: absolute;
    left: 46.5%;
  }

  .controls__button-play {
    display: flex;
    padding: 0;
  }

  .video-next {
    width: 35.4rem;
    height: 19.9rem;
    flex-basis: unset;
  }

  .video-next:nth-child(3) {
    display: none;
  }

  .video-next__wrapper {
    width: 30.9rem;
  }

  .video-next__title_smallmobile {
    display: none;
  }

  .video-carousel {
    margin-top: 20px;
    margin-bottom: 4rem;
  }

  .video-next__title_mobile {
    flex-grow: 1;
  }
}
@media (max-width: 767px) {
  .video__introduction {
    display: block;
  }

  .video__current {
    height: 17.2rem;
  }

  .button-play_big {
    width: 5rem;
    height: 5rem;
    border: 0.3rem solid #ffffff;
  }

  .button-play__big-object {
    width: 2.1rem;
    height: 2.73rem;
    top: 50%;
    transform: translate(-80%, -70%);
  }

  .video__controls {
    height: 5.5rem;
    padding: 0;
    position: relative;
    padding-left: 2rem;
    padding-right: 1.6rem;
  }

  .controls__object {
    width: 1.4rem;
    height: 1.8rem;
  }

  .play-range {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
  }
  .play-range::-webkit-slider-runnable-track {
    height: 0.4rem;
    background: linear-gradient(to right, #710707 41%, #c4c4c4 41%);
  }
  .play-range::-webkit-slider-thumb {
    width: 1rem;
    height: 1rem;
    margin-top: -0.3rem;
    margin-right: 1rem;
    appearance: none;
  }

  .play-range:nth-child(2) {
    display: block;
  }

  .play-range_small {
    position: static;
    width: 20rem;
  }

  .volume__object {
    width: 1.8rem;
    height: 1.4rem;
  }

  .scale__object {
    width: 1.8rem;
    height: 1.8rem;
  }

  .video-next__wrapper {
    width: 15.9rem;
    justify-content: flex-start;
    z-index: 1;
  }

  .video-next {
    width: calc(50% - 10px);
    height: 10.1rem;
    z-index: 5;
  }

  .video-next__title_mobile {
    display: none;
  }

  .video-next__title_smallmobile {
    color: #ffffff;
    font-size: 1.8rem;
    line-height: 3.85rem;
    letter-spacing: 0;
  }

  .video-next__more {
    display: none;
  }

  .video-next__favicon {
    margin-right: 0.6rem;
  }

  .button-play__small {
    z-index: 5;
  }

  .video-carousel {
    margin-bottom: 0;
  }

  .pagination-circle {
    width: 0.8rem;
    height: 0.8rem;
  }
}
.picture-container {
  height: 196rem;
}

.gallery {
  position: relative;
  height: 220rem;
  overflow: hidden;
}

.gallery::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 360px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  z-index: 5;
}

.gallery__title {
  margin-bottom: 75px;
}

.picture-inner-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
  grid-auto-rows: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 14px;
}

.gallery__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.gallery__img:nth-child(3n+1) {
  position: relative;
  grid-column-start: 1;
  top: 50px;
}
.gallery__img:nth-child(3n+2) {
  grid-column-start: 2;
}
.gallery__img:nth-child(3n+3) {
  position: relative;
  grid-column-start: 3;
  top: 50px;
}

.img-5row {
  grid-row: span 5;
}

.img-4row {
  grid-row: span 4;
}

.img-3row {
  grid-row: span 3;
}

@media (max-width: 1500px) {
  .gallery {
    height: 146rem;
  }

  .gallery__title {
    margin-bottom: 6rem;
  }
}
@media (max-width: 1023px) {
  .gallery {
    height: 122rem;
  }

  .gallery__title {
    margin-bottom: 4rem;
  }

  .picture-inner-container {
    display: block;
    columns: 2;
    column-gap: 24px;
  }

  .gallery__img {
    margin-bottom: 2.4rem;
  }

  .gallery__img:nth-child(1) {
    margin-top: 5rem;
  }

  .gallery__img:nth-child(3n+1), .gallery__img:nth-child(3n+3) {
    position: static;
  }
}
@media (max-width: 767px) {
  .gallery {
    height: 75.7rem;
  }
}
.tickets__image {
  width: 72rem;
  height: 55rem;
}

.tickets__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-basis: 50%;
}

.tickets__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
.tickets__fieldset_left {
  margin-left: 6rem;
}

.tickets__subtitle {
  padding-bottom: 2.5rem;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.281rem;
  letter-spacing: 0;
}
.tickets__subtitle_right {
  width: 100%;
  text-align: end;
}

.tickets__type-option {
  margin-top: 2.5rem;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.578rem;
  letter-spacing: 0;
}
.tickets__type-option:hover .tickets__type-label {
  color: #D2B183;
}
.tickets__type-option:active .tickets__type-label {
  color: #D2B183;
}

.tickets__type-input {
  position: absolute;
  opacity: 0;
}

.tickets__type-label {
  position: relative;
  padding-left: 4rem;
  cursor: pointer;
}
.tickets__type-label::before {
  content: "";
  position: absolute;
  left: 0.2rem;
  top: 0.9rem;
  width: 1.7rem;
  height: 1.7rem;
  border: 2px solid #000000;
  border-radius: 50%;
  box-sizing: border-box;
}

.tickets__type-input:checked + .tickets__type-label::after {
  content: "";
  position: absolute;
  left: 0.7rem;
  top: 1.4rem;
  width: 0.7rem;
  height: 0.7rem;
  background-color: #000000;
  border-radius: 50%;
}

.tickets__fieldset_right {
  justify-self: end;
}

.tickets__label {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.578rem;
  letter-spacing: 0;
}
.tickets__label_popup {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.109rem;
  letter-spacing: 0;
  color: #030303;
}

.age-input {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 15rem;
  height: 5rem;
  margin-bottom: 1rem;
  border: 3px solid #000000;
}
.age-input_second {
  margin-bottom: 5rem;
}

.age__button {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.75rem;
  letter-spacing: 0;
  cursor: pointer;
  flex-basis: 25%;
}
.age__button:hover {
  color: #D2B183;
}
.age__button:active {
  color: #D2B183;
}
.age__button_popup {
  width: 3.5rem;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0;
  letter-spacing: 0;
  color: #ffffff;
  background-color: #000000;
}

.age__input {
  width: 3.5rem;
  border: none;
  text-align: center;
}

.tickets__buy {
  position: absolute;
  bottom: 18.2rem;
  right: 0;
  width: 17.5rem;
  height: 5rem;
  color: #ffffff;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.578rem;
  letter-spacing: 0.2rem;
  outline: none;
  border-radius: 0.2rem;
  background-color: #000000;
}
.tickets__buy:hover {
  background-color: #D2B183;
}
.tickets__buy:active {
  background-color: #D2B183;
}

@media (max-width: 1500px) {
  .tickets__image {
    width: 70rem;
    height: 44rem;
    object-fit: cover;
  }

  .tickets__fieldset_left {
    display: none;
  }

  .tickets__form {
    display: block;
    flex-basis: unset;
    margin-left: 80px;
    margin-right: 29px;
  }

  .tickets__buy {
    bottom: 6rem;
    right: 2.9rem;
  }

  .tickets__subtitle_right {
    text-align: initial;
  }

  .tickets__subtitle {
    letter-spacing: 1.65px;
  }

  .tickets__subtitle span {
    padding-left: 13px;
  }

  .age-input {
    width: 175px;
    margin-bottom: 25px;
  }
}
@media (max-width: 1023px) {
  .tickets__image {
    width: 44.4rem;
    height: 34rem;
    margin-right: 6rem;
    margin-bottom: 9rem;
  }

  .tickets__form {
    margin-left: 0;
  }

  .tickets__subtitle {
    margin-top: 35px;
    padding-bottom: 39px;
  }

  .tickets__subtitle span {
    padding-left: 8px;
  }

  .tickets__label {
    margin-bottom: 10px;
  }

  .tickets__buy {
    bottom: 4.3rem;
    right: 4.9rem;
  }
}
@media (max-width: 767px) {
  .tickets_section {
    display: block;
  }

  .tickets__image {
    width: 100%;
    height: 16rem;
    margin-right: 0;
    margin-bottom: 4rem;
  }

  .tickets__form {
    width: 46%;
    margin: 0 auto;
  }

  .tickets__fieldset_right {
    margin: 0;
  }

  .tickets__subtitle {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 1.6rem;
    line-height: 1.875rem;
  }

  .tickets__label {
    font-size: 1.6rem;
    line-height: 1.875rem;
  }

  .age-input {
    width: 100%;
    margin: 0 auto 2rem auto;
  }

  .age-input_second {
    margin-bottom: 4rem;
  }

  .tickets__fieldset_right > p {
    padding-bottom: 9rem;
  }

  .tickets__buy {
    right: 50%;
    transform: translateX(50%);
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
.contacts {
  width: 19.5%;
}

.flex__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex__title {
  width: 100%;
}

.contacts__details {
  margin-bottom: 2.5rem;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.578rem;
  letter-spacing: 0;
}

.contacts__link {
  color: #000000;
}

.museum-title {
  display: block;
  margin-bottom: 5rem;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.281rem;
  letter-spacing: 0;
}

.map {
  width: 70.5%;
}

.contacts__map {
  width: 100%;
  height: auto;
}

@media (max-width: 1500px) {
  .museum-title {
    width: 185px;
    margin-bottom: 35px;
    font-size: 2.4rem;
    line-height: 2.813rem;
  }

  .contacts {
    width: 27%;
  }

  .contacts__details {
    margin-bottom: 15px;
    font-size: 2rem;
    line-height: 2.344rem;
  }

  .contacts__map {
    max-width: 67.78vw;
    height: auto;
  }
}
@media (max-width: 1023px) {
  .tickets_section {
    justify-content: flex-start;
  }

  .museum-title {
    width: 15.5rem;
    font-size: 2rem;
    line-height: 2.344rem;
  }

  .contacts__details {
    font-size: 1.8rem;
    line-height: 2.109rem;
  }

  .contacts {
    width: 33%;
  }

  .map {
    width: 100%;
    padding-bottom: 27px;
  }

  .contacts__map {
    display: block;
    margin-top: 25px;
    max-width: calc(100vw - 40px);
    width: calc(100vw - 40px);
    height: 476px;
  }
}
@media (max-width: 767px) {
  .museum-title {
    width: 12.4rem;
    font-size: 1.6rem;
    line-height: 1.875rem;
    margin-bottom: 4rem;
  }

  .contacts__details {
    font-size: 1.6rem;
    line-height: 1.875rem;
    margin-bottom: 1.5rem;
  }

  .contacts {
    width: 100%;
  }
}
.parallax {
  width: 100%;
  height: 40rem;
  background-image: url("../assets/img/parallax.jpg");
  background-position-x: center;
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 1023px) {
  .parallax {
    height: 30rem;
  }
}
.buy {
  position: fixed;
  width: 1440px;
  height: 84.5rem;
  margin: 0 auto;
  padding: 9.1rem 23.5rem;
  left: -200%;
  top: 0;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.109rem;
  letter-spacing: 0;
  background-color: #ffffff;
  animation: popup-hide 0.7s ease-out forwards;
  z-index: 7;
}
.buy_popup {
  animation: popup 0.7s ease-out forwards;
}

.overlay {
  display: block;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: -100%;
  opacity: 0;
  background-color: #000000;
  z-index: 6;
  transition: all 0.3s ease-in-out;
}
.overlay_popup {
  left: 0;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}

.buy__form {
  display: flex;
  justify-content: space-between;
}

.logo {
  background-image: url("../assets/img/logo.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.tickets-details_choice {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 400px;
  margin-right: 4rem;
}

.title__bookform {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5.52rem;
  letter-spacing: 0;
  text-transform: uppercase;
}

.logo__form {
  filter: invert(56%) sepia(14%) saturate(769%) hue-rotate(356deg) brightness(93%) contrast(92%);
}

.subtitle__bookform {
  display: block;
  width: 100%;
  padding-bottom: 1rem;
  margin-bottom: 6rem;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.109rem;
  letter-spacing: 0;
  color: #710707;
  border-bottom: 0.3rem solid #710707;
}
.subtitle__bookform_light {
  padding-bottom: 0.5rem;
  line-height: 1.987rem;
  color: #9D8665;
  margin-bottom: 1.8rem;
}

.input__date {
  width: 19rem;
  height: 4.5rem;
  margin-right: auto;
  background: no-repeat url("../assets/img/icons/date.svg") top 1.5rem left 1.5rem;
}

.input__time {
  width: 19rem;
  height: 4.5rem;
  background: no-repeat url("../assets/img/icons/time.svg") top 1.5rem left 1.5rem;
}

.buy__input {
  height: 4.5rem;
  border: 0.1rem solid #030303;
  margin-bottom: 2rem;
  padding-left: 4.5rem;
  position: relative;
}

.input {
  width: 100%;
}

.input::-webkit-input-placeholder {
  color: #030303;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.109rem;
  letter-spacing: 0;
}

.input__name {
  background: no-repeat url("../assets/img/icons/name.svg") top 1.5rem left 1.5rem;
}

.input__email {
  background: no-repeat url("../assets/img/icons/email.svg") top 1.5rem left 1.5rem;
}

.input__phone {
  background: no-repeat url("../assets/img/icons/tel.svg") top 1.1rem left 1.5rem;
}

.select {
  appearance: none;
  background: no-repeat url("../assets/img/icons/type.svg") top 1.5rem left 1.5rem;
}

.booking__date {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

input[type=date]:not(.has-value):before,
input[type=time]:not(.has-value):before {
  content: attr(data-placeholder);
  color: #030303;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.109rem;
  letter-spacing: 0;
}

input[type=date]::-webkit-calendar-picker-indicator,
input[type=time]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none;
}

input[type=date]::-webkit-datetime-edit-text,
input[type=date]::-webkit-datetime-edit-month-field,
input[type=date]::-webkit-datetime-edit-day-field,
input[type=date]::-webkit-datetime-edit-year-field,
input[type=time]::-webkit-datetime-edit-hour-field,
input[type=time]::-webkit-datetime-edit-minute-field,
input[type=time]::-webkit-datetime-edit-second-field {
  -webkit-appearance: none;
  display: none;
}

.booking__amount {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  border: 0.1rem solid #030303;
}

.entry-tickets-buy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 2.2rem;
}
.entry-tickets-buy_second {
  margin-bottom: 0;
}

.number-input {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 10.5rem;
  height: 2.5rem;
  border: 1px solid #000000;
}

.age__input_entry {
  border: 0.1rem solid #030303;
  box-sizing: border-box;
  height: 2.5rem;
}

.tickets-details_overview {
  position: relative;
  width: 53rem;
  padding: 2.5rem 3rem;
  border: 0.1rem solid #030303;
  background: no-repeat url("../assets/img/tickets/book_form.jpg") top 2.5rem left 35rem;
}

.date {
  background: no-repeat url("../assets/img/icons/date.svg") top 0.25rem left 0;
}

.time {
  background: no-repeat url("../assets/img/icons/time.svg") top 0.25rem left 0;
}

.type {
  background: no-repeat url("../assets/img/icons/exhibition-type.svg") top 0.25rem left 0;
}

.overview__title {
  display: block;
  width: 100%;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.75rem;
  letter-spacing: 0;
}

.overview__subtitle {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.578rem;
  letter-spacing: 0;
  color: #740C11;
}

.overview__text {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  padding-left: 3rem;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.109rem;
  letter-spacing: 0;
  color: #030303;
}
.overview__text:nth-child(5) {
  margin-bottom: 2.2rem;
}
.overview__text_colored {
  padding: 0;
  margin: 0;
  margin-right: 1rem;
  width: 3.2rem;
  height: 2rem;
  text-align: center;
  background-color: #030303;
  border-radius: 10%;
  color: #ffffff;
}

.overview__tickets {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.overview__tickets:nth-child(6) {
  margin-bottom: 0.7rem;
}
.overview__tickets_second {
  padding-bottom: 0.9rem;
  border-bottom: 0.2rem solid #740C11;
}

.overview__details {
  display: block;
  width: 11.8rem;
  flex-grow: 1;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.578rem;
  letter-spacing: 0;
}

.overview__price {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.578rem;
  letter-spacing: 0;
}

.overview__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.overview__total_text {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.75rem;
  letter-spacing: 0;
}

.card-details {
  position: relative;
  width: 100%;
}

.card-details_front {
  width: 36rem;
  height: 21.1rem;
  padding: 1.5rem 2rem;
  background: url("../assets/img/tickets/visa-mc.png");
  background-repeat: no-repeat;
  background-color: #BCBCBC;
  background-position: top 3.4rem left 28.5rem;
}

.card-details__text {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.406rem;
  letter-spacing: 0;
}

.card-details__input {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  height: 3.5rem;
  border: 0.05rem solid #A4A4A3;
}

.card-details__expiration {
  display: flex;
  flex-wrap: wrap;
}

.card-number {
  width: 21.5rem;
}

.card-expiration {
  width: 10rem;
  padding: 0;
  padding-left: 1rem;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.406rem;
  letter-spacing: 0;
}
.card-expiration:nth-child(2) {
  margin-right: 1.5rem;
}

.card-cardholder {
  width: 32rem;
}

.card-details_back {
  position: absolute;
  top: 3rem;
  left: 11rem;
  width: 36rem;
  height: 21.1rem;
  padding: 8.5rem 2.9rem 1.5rem 26.5rem;
  background-color: #939393;
  z-index: -1;
}

.black-line {
  width: 36rem;
  height: 4.5rem;
  position: absolute;
  top: 2.5rem;
  left: 0;
  background-color: #000000;
}

.card-cvv {
  width: 7.5rem;
  height: 3.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.6rem;
  border: 0.05rem solid #A4A4A3;
}

.card-cvv_text {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.172rem;
  letter-spacing: 0;
}

.button__book {
  position: absolute;
  top: 59.2rem;
  left: 28rem;
  width: 22rem;
  height: 4.5rem;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.578rem;
  letter-spacing: 0;
  color: #ffffff;
  background-color: #710707;
  opacity: 0.9;
}

@media (max-width: 1500px) {
  .buy {
    width: 102.4rem;
    height: 76.8rem;
    padding: 7.5rem 2.7rem 3rem 2.7rem;
  }
}
@media (max-width: 1023px) {
  .buy {
    width: 59rem;
    padding: 7.978rem 3rem 4rem 3rem;
    overflow: auto;
    height: 100vh;
  }

  .buy__form {
    flex-wrap: wrap;
    justify-content: center;
  }

  .tickets-details_choice > .logo {
    width: 8.5rem;
    height: 4.1rem;
    background-size: 8.5rem 4.1rem;
  }

  .title__bookform {
    width: 100%;
  }

  .subtitle__bookform {
    margin-bottom: 4rem;
  }

  .tickets-details_choice {
    margin-right: 0;
    max-width: 53rem;
  }

  .input__date {
    width: 25.1rem;
  }

  .input__time {
    width: 25.1rem;
  }

  .booking__amount {
    padding-top: 4px;
    margin-bottom: 5.1rem;
  }

  .subtitle__bookform_light {
    margin-bottom: 13px;
  }

  .tickets-details_overview {
    height: 66.5rem;
    padding: 25px 15px 15px 15px;
    background-position: left 363px;
  }
}
@media (max-width: 767px) {
  .buy {
    width: 42rem;
  }

  .tickets-details_choice > .logo {
    width: 100%;
  }

  .title__bookform {
    font-size: 3.2rem;
    line-height: 3.533rem;
  }

  .booking__date {
    flex-wrap: wrap;
  }

  .input__date {
    width: 36rem;
  }

  .input__time {
    width: 36rem;
  }

  .tickets-details_overview {
    width: 36rem;
    height: 88.5rem;
    padding: 2.5rem 1.5rem;
    background-position: top 2.5rem right 1.5rem;
    background-size: 12rem 9.6rem;
  }

  .overview__total {
    margin-bottom: 1.5rem;
  }

  .card-details_front {
    margin-bottom: 2.5rem;
    width: 33rem;
    background-position: top 3.3rem left 25.4rem;
  }

  .card-cardholder {
    width: 29rem;
  }

  .card-details_back {
    position: static;
    width: 33rem;
    padding: 8.5rem 2rem 2rem 23.5rem;
    margin-bottom: 4rem;
  }

  .card-details__text {
    font-size: 1.3rem;
    line-height: 1.523rem;
  }

  .card-cvv_text {
    font-size: 0.9rem;
    line-height: 1.055rem;
  }

  .black-line {
    top: 25.9rem;
    width: 33rem;
  }

  .button__book {
    position: static;
    display: block;
    margin-left: auto;
  }
}

/*# sourceMappingURL=style.css.map */
