  .to_left {
    animation-name: left;
  }
  
  .to_right {
    animation-name: right;
    animation-direction: reverse;
  }
  
  .from_left {
    animation-name: left;
    animation-direction: reverse;
  }
  
  .from_right {
    animation-name: right;
  }
  
  @keyframes left {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }
  
  @keyframes right {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
  }