.pagination {
    @extend %flex;
}

.pagination__squared {
    margin-left: 5.5rem;
    margin-right: 6rem;
}

.pagination-square {
    @include display($width: 1.6rem, $height: 1.6rem);
    margin-right: 2.5rem;
    background-color: $color-on-dark;
    cursor: pointer;
    &:last-child {
        margin-right: 0;
    }
    &:hover {
        background-color: $color-active;
    }
    &:active {
        background-color: $color-active;
    }
    @extend %transition;
}

.pagination-square_colored {
    background-color: $color-active;
}

.pagination-circle {
    @include display($width: 1.2rem, $height: 1.2rem);
    margin-right: 2rem;
    background-color: $color-grey;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
        background-color: #333333;
    }
    &:active {
        background-color: #333333;
    }
    @extend %transition;
}

.pagination-circle_colored {
    background-color: #333333;
}

.numeration, .controls {
    display: flex;
}

.controls-left {
    margin-right: 20px;
}

.arrow {
    display: flex;
    cursor: pointer;
    &:hover .arrow__image{
        filter: invert(58%) sepia(15%) saturate(792%) hue-rotate(356deg) brightness(91%) contrast(83%);
    }
}

@media (max-width: 1500px) {
    .pagination__squared {
        margin-left: 4.5rem;
        margin-right: 4.5rem;
    }

    .pagination-square {
        width: 1.2rem;
        height: 1.2rem;
    }
}