.welcome__content {
    position: relative;
    padding-top: 15rem;
    z-index: 3;
}

.welcome__title {
    margin-bottom: 2.5rem;
    @include font($size: 8rem, $height: 9rem);
    text-transform: uppercase;
    z-index: 5;
}

.welcome__text {
    @include font($size: 2.8rem, $height: 3.281rem, $weight: 300, $letter: 0.5rem);
    margin-bottom: 7.5rem;
    z-index: 5;
}

.welcome__images_container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 750px;
}

.welcome__images {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.welcome__images_gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 25%);
    z-index: 3;
}

.item {
    display: none;
    position: relative;
    animation: 0.5s ease-in-out;
    &.active {
        display: block;
    }
}

.next {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .welcome__slider {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 600px;
    height: 125px;
    display: flex;
    justify-content: space-between;
    padding: 0 68px 0 75px;
    align-items: center;
    background-color: #000000;
    z-index: 4;
    & p {
        line-height: 40px;
    }
  }

  .numeration__current {
      margin-right: 10px;
  }

  .welcome__slider_list {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    & li {
        width: 16px;
        height: 16px;
        background-color: $color-on-dark;
        &:nth-child(1) {
            background-color: #D2B183;
        }
    }
  }

  .welcome__slider_button button {
      width: 30px;
      height: 30px;
  }

  .welcome__slider_button button:nth-child(1) {
    margin-right: 18px;
  }

  .button__image {
      display: block;
  }

  .numeration__total {
    margin-left: 18px;
  }

// .welcome__image_mobile {
//     display: none;
// }

// .welcome__carousel {
//     @extend %flex;
//     position: absolute;
//     left: 84rem;
//     top: 69rem;
//     padding: 5rem 7.5rem;
//     width: 60rem;
//     height: auto;
//     background: $color-background;
// }

// .numeration {
//     width: 76px;
//     @include font($height: 2rem, $letter: 0);
// }

// .numeration__current {
//     padding-right: 1rem;
//     border-right: 2px solid white;
// }

// .numeration__total {
//     padding-left: 1rem;
// }

@media (max-width: 1500px) {
    .welcome__wrapper {
        background-size: 70rem 52.5rem;
    }

    .welcome__content {
        padding-top: 5rem;
    }

    .welcome__title {
        width: 39.8rem;
        @include font($size: 5rem, $height: 9rem, $letter: 0.5rem);
    }

    .welcome__text {
        font-size: 2.4rem;
        line-height: 2.813rem;
        margin-bottom: 5rem;
    }

    .welcome__images_container {
        width: 700px;
        height: 525px;
    }

    .item img {
        width: 700px;
        height: 525px;
    }

    .welcome__carousel {
        top: 46.5rem;
        left: 28.4rem;
        width: 70rem;
        padding-left: 22.4rem;
    }

    .numeration {
        font-size: 2rem;
    }          
}

@media (max-width: 1023px) {
    .wrapper__welcome {
        background-image: none;
    }

    .welcome__content {
        padding-top: 0;
        text-align: center;
    }

    .welcome__title {
        width: 34rem;
        margin: 0 auto;
        margin-bottom: 2.5rem;
        font-size: 4rem;
        line-height: 6rem;
    }

    .welcome__text {
        margin-bottom:4.6rem;
        font-size: 2rem;
        line-height: 2.344rem;
    }

    .welcome__images_container {
        width: 728px;
        height: 546px;
    }

    .welcome__images {
        position: static;
    }

    .welcome__images_gradient {
        background: none;
    }

    .welcome__slider {
        position: static;
        margin: 0 auto;
    }

    .item img {
        width: 728px;
        height: 546px;
    }

    .welcome__image_mobile {
        display: block;
        width: 100%;
        height: 54.6rem;
    }

    .welcome__carousel {
        position: static;
        padding: 4rem 0;
        margin: 0 auto;
        width: 40.1rem;
    }
}

@media (max-width: 767px) {
    .welcome__content {
        padding-top: 0.5rem;
    }

    .welcome__title {
        width: 25.5rem;
        font-size: 2.8rem;
        line-height: 4rem;
    }

    .welcome__text {
        margin-bottom: 50px;
        font-size: 1.6rem;
        line-height: 1.875rem;
    }

    .welcome__image_mobile {
        height: auto;
    }

    .welcome__carousel {
        padding: 4rem 0;
        width: 23rem;
        height: 4rem;
    }

    .numeration {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .numeration__current {
        padding-right: 0.5rem;
    }

    .numeration__total {
        padding-left: 0.5rem;
    }

    .pagination__squared {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    .pagination-square {
        width: 0.7rem;
        height: 0.7rem;
        margin-right: 1rem;
    }

    .arrow__image {
        width: 2rem;
        height: 0.8rem;
    }

    .controls-left {
        margin-right: 1.5rem;
    }
}