.button__link {
    @include display($width: 36rem, $height: 7.5rem);
    padding: 2.6rem 6.4rem;
    @include font($weight: 300);
    border-radius: 1rem;
    color: $color-on-dark;
    background-color: $color-primary;
    &:hover {
        background-color: $color-active;
    }
    &:active {
        background-color: $color-active;
    }
    @extend %transition;
}

.button__close {
    height: 25px;
    outline: none;
    position: absolute;
    right: 30px;
    top: 30px;
    width: 25px;
    cursor: pointer;
    &::before {
        background-color: #030303;
        content: "";
        height: 30px;
        position: absolute;
        top: 0;
        transform: rotate(45deg);
        transition: all .3s ease-in-out;
        width: 1px;
    }
    &::after {
        background-color: #030303;
        content: "";
        height: 30px;
        position: absolute;
        top: 0;
        transform: rotate(-45deg);
        transition: all .3s ease-in-out;
        width: 1px;
    }
    &:hover::before {
        transform: rotate(135deg);
    } 
    &:hover::after {
        transform: rotate(45deg);
    } 
}