.logo {
    @extend %flex;
    align-items: baseline;
    color: $color-on-dark;
    text-transform: uppercase;
    &:hover {
        color: $color-active;
    }
    &:active {
        color: $color-active;
    }
}

.logo__title {
    @include font($size: 2.8rem, $height: 3.091rem, $letter: 0.5rem);
}

.logo-object {
    margin-right: 25px;
}

.logo-svg {
    cursor: pointer;
}

.logo-path:hover {
    fill: $color-active;
}