.container-question {
    max-width: 826px;
    margin: 0 auto;
}

.timer-input {
    width: 80%;
    appearance: none;
    height: 3px;
    cursor: pointer;
    border-radius: 4.5px;
    background: linear-gradient(
        to right,
        $color-active 0%,
        $color-active 30%,
        $color-grey 30%,
        $color-grey 100%
      );
    &::-webkit-slider-thumb {
      appearance: none;
      width: 12px;
      height: 12px;
      background-color: $color-text-on-dark;
      border-radius: 100%;
    }  
}

.question-text {
    margin: 0;
    text-align: center;
    width: 100%;
}

.artists-picture {
    height: 372px;
    background-image: url('https://raw.githubusercontent.com/OlgaTolpykina/image-data/master/full/0full.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 20px;
    position: relative;
}

.artists-answers {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50px);
    gap: 10px;
}

.artists-answer {
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid $color-text-on-dark;
    border-radius: 10px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 15px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    & li {
        width: 10px;
        height: 10px;
        background-color: $color-grey;
        border-radius: 100%;
    }
}

.pictures-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    height: 372px;
}

.answer {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

#variant1 {
    background-image: url('https://raw.githubusercontent.com/OlgaTolpykina/image-data/master/img/0.jpg');
}

#variant2 {
    background-image: url('https://raw.githubusercontent.com/OlgaTolpykina/image-data/master/img/0.jpg');
}

#variant3 {
    background-image: url('https://raw.githubusercontent.com/OlgaTolpykina/image-data/master/img/0.jpg');
}

#variant4 {
    background-image: url('https://raw.githubusercontent.com/OlgaTolpykina/image-data/master/img/0.jpg');
}