.setting-title {
  margin: 0;
  margin-left: 10px;
  position: relative;
  font-size: 2rem;
  line-height: 2.8rem;
  &::before {
    content: '';
    background-image: url('../img/svg/left_arrow.svg');
    width: 10px;
    height: 20px;
    position: absolute;
    top: 4px;
    left: -15px;
  }
}

.exit {
  width: 36px;
  height: 36px;
  background-image: url('../img/svg/exit.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.content-settings {
  margin-top: 3%;
  & > div {
    margin-bottom: 2%;
  }
  & .setting-time {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    & button {
      width: 20px;
      height: 20px;
      text-align: center;
      border-radius: 100%;
      background-color: $color-text-on-dark;
      font-size: 20px;
      & span {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
      }
    }
  }
  & .setting-volume {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    width: 16%;
    & button {
      width: 36px;
      height: 36px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  & .setting-timer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8%;
    & .setting-timer {
      width: 50px;
      height: 24px;
      border-radius: 34px;
      background-color: $color-active;
      position: relative;
      & .slider {
        width: 24px;
        height: 24px;
        background-color: $color-text-on-dark;
        border-radius: 100%;
        position: absolute;
      }
    }
  }
}

.subsetting-title {
  margin: 0;
  margin-bottom: 1%;
  font-size: 2.5rem;
}

.mute {
  background-image: url('../img/svg/mute.svg');
}

.sound {
  background-image: url('../img/svg/volume.svg');
}

#volume-bar {
  appearance: none;
  height: 3px;
  width: 15%;
  cursor: pointer;
  border-radius: 4.5px;
  background: linear-gradient(
    to right,
    $color-active 0%,
    $color-active 30%,
    $color-grey 30%,
    $color-grey 100%
  );
  &::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: $color-text-on-dark;
    border-radius: 100%;
  }
}

.on {
  left: 0;
  right: auto;
}

.off {
  left: auto;
  right: 0;
}

#time-input {
  width: 50px;
  padding: 0;
  border: none;
  background-color: transparent;
  position: relative;
}

.time-input-value {
  position: absolute;
  left: 36px;
}

.setting-buttons {
  display: flex;
  justify-content: flex-end;
}
