.buy {
    position: fixed;
    width: $content-width;
    height: 84.5rem;
    margin: 0 auto;
    padding: 9.1rem 23.5rem;
    left: -100%;
    top: 0;
    @include font($size: 1.8rem, $height: 2.109rem, $letter: 0);
    background-color: $color-on-dark;
    animation: popup-hide .7s ease-out forwards;
    @extend %transition;
    z-index: 7;
    &_popup {
        animation: popup .7s ease-out forwards;
    }
}

.overlay {
    display: block;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: -100%;
    opacity: 0;
    background-color: $color-black;
    z-index: 6;
    transition: all .3s ease-in-out;
    &_popup {
        left: 0;
        opacity: 0.6;
        transition: all .3s ease-in-out;
    }
}

.buy__form {
    display: flex;
    justify-content: space-between;
}

.logo {
    background-image: url("../assets/img/logo.svg");
    background-repeat: no-repeat;
    cursor: pointer;
    @extend %transition;
}

.tickets-details_choice {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 400px;
    margin-right: 4rem;
}

.title__bookform {
    display: block;
    margin-bottom: 1.5rem;
    @extend %font-titles;
    @include font($size: 5rem, $height: 5.52rem, $letter: 0);
    text-transform: uppercase;
}

.logo__form {
    filter: invert(56%) sepia(14%) saturate(769%) hue-rotate(356deg) brightness(93%) contrast(92%);
}

.subtitle__bookform {
    display: block;
    width: 100%;
    padding-bottom: 1rem;
    margin-bottom: 6rem;
    @include font($size: 1.8rem, $height: 2.109rem, $letter: 0);
    color: $color-primary;
    border-bottom: 0.3rem solid $color-primary;
    &_light {
        padding-bottom: 0.5rem;
        line-height: 1.987rem;
        color: $color-gold;
        margin-bottom: 1.8rem;
    }
}

.input__date {
    width: 19rem;
    height: 4.5rem;
    margin-right: auto;
    background: no-repeat url('../assets/img/icons/date.svg') top 1.5rem left 1.5rem;
}

.input__time {
    width: 19rem;
    height: 4.5rem;
    background: no-repeat url('../assets/img/icons/time.svg') top 1.5rem left 1.5rem;
}

.buy__input {
    height: 4.5rem;
    border: 0.1rem solid #030303;
    margin-bottom: 2rem;
    padding-left: 4.5rem;
    position: relative;
}

.input {
    width: 100%;
}

.input::-webkit-input-placeholder {
    color: $color-background;
    @include font($size: 1.8rem, $height: 2.109rem, $letter: 0);
}

.input__name {
    background: no-repeat url('../assets/img/icons/name.svg') top 1.5rem left 1.5rem;
}

.input__email {
    background: no-repeat url('../assets/img/icons/email.svg') top 1.5rem left 1.5rem;
}

.input__phone {
    background: no-repeat url('../assets/img/icons/tel.svg') top 1.1rem left 1.5rem;
}

.select {
    appearance: none;
    background: no-repeat url('../assets/img/icons/type.svg') top 1.5rem left 1.5rem;
}

.booking__date {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

input[type=date]:not(.has-value):before,
input[type=time]:not(.has-value):before {
    content: attr(data-placeholder);
    color: $color-background;
    @include font($size: 1.8rem, $height: 2.109rem, $letter: 0);
}

input[type=date]::-webkit-calendar-picker-indicator,
input[type=time]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    display: none;
}

input[type=date]::-webkit-datetime-edit-text,
input[type=date]::-webkit-datetime-edit-month-field,
input[type=date]::-webkit-datetime-edit-day-field,
input[type=date]::-webkit-datetime-edit-year-field,
input[type=time]::-webkit-datetime-edit-hour-field,
input[type=time]::-webkit-datetime-edit-minute-field,
input[type=time]::-webkit-datetime-edit-second-field {
    -webkit-appearance: none;
    display: none;
}

.booking__amount {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    border: 0.1rem solid $color-background;
}

.entry-tickets-buy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 2.2rem;
    &_second {
        margin-bottom: 0;
    }
}

.number-input {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 10.5rem;
    height: 2.5rem;
    border: 1px solid $color-black;
}

.age__input_entry {
    border: 0.1rem solid #030303;
    box-sizing: border-box;
    height: 2.5rem;
}

// input[type="number" i] {
//     padding: 0;
// }

.tickets-details_overview {
    position: relative;
    width: 53rem;
    padding: 2.5rem 3rem;
    border: 0.1rem solid $color-background;  
    background: no-repeat url('../assets/img/tickets/book_form.jpg') top 2.5rem left 35rem;  
}

.date {
    background: no-repeat url('../assets/img/icons/date.svg') top 0.25rem left 0;
}

.time {
    background: no-repeat url('../assets/img/icons/time.svg') top 0.25rem left 0;
}

.type {
    background: no-repeat url('../assets/img/icons/exhibition-type.svg') top 0.25rem left 0;
}

.overview__title {
    display: block;
    width: 100%;
    @include font($size: 3.2rem, $height: 3.75rem, $letter: 0, $weight: 500);
}

.overview__subtitle {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    @include font($size: 2.2rem, $height: 2.578rem, $letter: 0, $weight: 500);
    color: #740C11;
}

.overview__text {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
    padding-left: 3rem;
    @include font($size: 1.8rem, $height: 2.109rem, $letter: 0, $weight: 300);
    color: $color-background;
    &:nth-child(5) {
        margin-bottom: 2.2rem;
    }
    &_colored {
        padding: 0;
        margin: 0;
        margin-right: 1rem;
        width: 3.2rem;
        height: 2rem;
        text-align: center;
        background-color: $color-background;
        border-radius: 10%;
        color: $color-on-dark;
    }
}

.overview__tickets {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:nth-child(6) {
        margin-bottom: 0.7rem;
    }
    &_second {
        padding-bottom: 0.9rem;
        border-bottom: 0.2rem solid #740C11;
    }
}

.overview__details {
    display: block;
    width: 11.8rem;
    flex-grow: 1;
    @include font($size: 2.2rem, $height: 2.578rem, $letter: 0);
}

.overview__price {
    @include font($size: 2.2rem, $height: 2.578rem, $letter: 0);
}

.overview__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    &_text {
        @include font($size: 3.2rem, $height: 3.75rem, $letter: 0);  
    }
}

.card-details {
    position: relative;
    width: 100%;
}

.card-details_front {
    width: 36rem;
    height: 21.1rem;
    padding: 1.5rem 2rem;
    background: url('../assets/img/tickets/visa-mc.png'); 
    background-repeat: no-repeat;
    background-color: #BCBCBC;
    background-position: top 3.4rem left 28.5rem;
}

.card-details__text {
    display: block;
    width: 100%;
    @include font($size: 1.2rem, $height: 1.406rem, $letter: 0);
} 

.card-details__input {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    height: 3.5rem;
    border: 0.05rem solid #A4A4A3;
}

.card-details__expiration {
    display: flex;
    flex-wrap: wrap;
}

.card-number {
    width: 21.5rem;
}

.card-expiration {
    width: 10rem;
    padding: 0;
    padding-left: 1rem;
    @include font($size: 1.2rem, $height: 1.406rem, $letter: 0);
    &:nth-child(2) {
        margin-right: 1.5rem;
    }
}

.card-cardholder {
    width: 32rem;
}

.card-details_back {
    position: absolute;
    top: 3rem;
    left: 11rem;
    width: 36rem;
    height: 21.1rem;
    padding: 8.5rem 2.9rem 1.5rem 26.5rem;
    background-color: #939393;
    z-index: -1;
}

.black-line {
    width: 36rem;
    height: 4.5rem;
    position: absolute;
    top: 2.5rem;
    left: 0;
    background-color: $color-black;
}

.card-cvv {
    width: 7.5rem;
    height: 3.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.6rem;
    border: 0.05rem solid #A4A4A3;
}

.card-cvv_text {
    @include font($size: 1rem, $height: 1.172rem, $letter: 0)
}

.button__book {
    position: absolute;
    top: 59.2rem;
    left: 28rem;
    width: 22rem;
    height: 4.5rem;
    @include font($letter: 0);
    color: $color-on-dark;
    background-color: $color-primary;
    opacity: 0.9;
}