.tickets__image {
    width: 72rem;
    height: 55rem;
}

.tickets__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-basis: 50%;
}

.tickets__fieldset {
    margin: 0;
    padding: 0;
    border: none;
    &_left {
        margin-left: 6rem;
    }
}

.tickets__subtitle {
    padding-bottom: 2.5rem;
    @include font($weight: 700, $size: 2.8rem, $height: 3.281rem, $letter: 0);
    &_right {
        width: 100%;
        text-align: end;
    }
}

.tickets__type-option {
    margin-top: 2.5rem;
    @include font($weight: 300, $letter: 0);
    &:hover .tickets__type-label {
        color: $color-active;
        @extend %transition;
    }
    &:active .tickets__type-label {
        color: $color-active;
        @extend %transition;
    }
}

.tickets__type-input {
    position: absolute;
    opacity: 0;
}

.tickets__type-label {
    position: relative;
    padding-left: 4rem;
    cursor: pointer;
    &::before {
        content: "";
        position: absolute;
        left: 0.2rem;
        top: 0.9rem;
        width: 1.7rem;
        height: 1.7rem;
        border: 2px solid $color-black;
        border-radius: 50%;
        box-sizing: border-box;
    }
}

.tickets__type-input:checked + .tickets__type-label::after {
    content: "";
    position: absolute;
    left: 0.7rem;
    top: 1.4rem;
    width: 0.7rem;
    height: 0.7rem;
    background-color: $color-black;
    border-radius: 50%;    
}

.tickets__fieldset_right {
    justify-self: end;
}

.tickets__label {
    display: block;
    margin-bottom: 1.5rem;
    @include font($weight: 300, $letter: 0);
    &_popup {
        @include font($size: 1.8rem, $height: 2.109rem, $letter: 0);
        color: $color-background;
    }
}

.age-input {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 15rem;
    height: 5rem;
    margin-bottom: 1rem;
    border: 3px solid $color-black;
    &_second {
        margin-bottom: 5rem;
    }
}

.age__button {
    @include font($size: 3.2rem, $height: 3.75rem, $letter: 0);
    cursor: pointer;
    flex-basis: 25%;
    &:hover {
        color: $color-active;
        @extend %transition;
    }
    &:active {
        color: $color-active;
        @extend %transition;
    }
    &_popup {
        width: 3.5rem;
        @include font($size: 1.8rem, $height: 0, $letter: 0);
        color: $color-on-dark;
        background-color: $color-black;
    }
}

.age__input {
    width: 3.5rem;
    border: none;
    text-align: center;
}

.tickets__buy {
    position: absolute;
    bottom: 18.2rem;
    right: 0;
    width: 17.5rem;
    height: 5rem;
    color: $color-on-dark;
    @include font($weight: 300);
    outline: none;
    border-radius: 0.2rem;
    background-color: $color-black;
    &:hover {
        background-color: $color-active;
        @extend %transition;
    }
    &:active {
        background-color: $color-active;
        @extend %transition;
    }
}