$color-background: #192F2D;
$color-background-semitransparent: rgb(25, 47, 45, .7);
$color-active: #278d9f;
$color-cards: rgba(179, 246, 255, 0.5);
$color-buttons: rgba(31, 112, 127, .3);
$color-cyan: #24C5DB;
$color-dark-blue: #14455b;
$color-white: white;
$color-white_semitransparent: rgba(255, 255, 255, .5);
$color-yellow: #FDD700;
$color-red: #FD0000;
$color-blue: #2199EB;
$color-green: #08AA05;
$color-lightgrey: #EEEEEE;
$color-grey: #666;

//Lightrope
$color-green_light: rgba(0, 247, 165, 1);
$color-green_dark: rgba(0, 247, 165, 0.2);
$color-blue_light: rgba(0, 255, 255, 1);
$color-blue_dark: rgba(0, 255, 255, 0.4);
$color-red_light: rgba(247, 0, 118, 1);
$color-red_dark: rgba(247, 0, 118, 0.4);
$color-yellow_light: rgba(255, 255, 0, 1);
$color-yellow_dark: rgba(255, 255, 0, 0.2);

$content-width: 1800px;
$tablet-width: 1300px;