@mixin flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@mixin desktop-grid {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 30px;
}

@mixin tablet-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

@mixin media-tablet {
  @media (max-width: $tablet-width) { @content; }
}