%transition {
    transition: all 0.5s ease-out;
}

%element-style {
    background-color: $color-buttons;
    backdrop-filter: blur(6px);
    border: 1px solid $color-active;
    cursor: pointer;
}

%input-style {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}
