$color-primary: #710707;
$color-background: #030303;
$color-title-on-light: #9D8665;
$color-on-dark: #ffffff;
$color-text-on-light: #000000;
$color-additional-text-on-dark: #CAAA7D;
$color-active: #D2B183;
$color-gold: #9D8665;

$color-grey: #999999;
$color-black: #000000;

$content-width: 1440px;
$tablet-big-width: 984px;
$tablet-small-width: 728px;
$mobile-width: 380px;