%flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%font-titles {
    font-family: "Forum", "Georgia", serif;
}

%font-text {
    font-family: "Roboto", "Verdana", sans-serif;
}

%background-dark {
    background-color: $color-background;
}

%transition {
    transition: all .3s ease-out;
}