.button {
  outline: 0;
  padding: 5px 15px;
  background-color: $color-buttons;
  backdrop-filter: blur(6px);
  border-radius: 20px;
  border: 1px solid $color-active;
  cursor: pointer;
  &_small {
    width: 150px;
    font-size: 1.4rem;
  }
}