.footer__topwrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.top {
    padding: 7.5rem 0 5.5rem 0;
    align-items: flex-start;
}

.bottom {
    padding: 5rem 0;
    @include font($weight: 200, $height: 2.2rem);
}

.footer-bottomline {
    border-top: 0.3rem solid #666666;
}

.footer__logo {
    margin-right: 14.5rem;
}

.logo__link {
    flex-wrap: nowrap;
}

.footer-navigation__column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 366px;
    height: 150px;
    @include font($weight:200, $height: 5rem);
}

.footer-nav__socials {
    display: flex;
    align-self: flex-end;
    list-style: none;
    margin: 0;
    margin-bottom: 14px;
    padding: 0;
  }
  .socials__button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
  }
  .socials li {
    margin-right: 24px;
  }
  .socials li:last-child {
    margin-right: 0px;
  }
  .socials__button::before {
    content: "";
    position: absolute;
    top: -0.2rem;
    left: -0.2rem;
    width: 48px;
    height: 48px;
    border: 1px solid #666666;
    border-radius: 50px;
  }

  .socials__button:hover .social-path {
    fill: $color-active;
    @extend %transition;
  }

  .socials__button:hover::before{
    border: 1px solid $color-active;
    @extend %transition;
  }

  .footer_item {
    cursor: pointer;
  }

  .footer_item a {
    color: $color-on-dark;
  }

  .footer_item a:hover {
    color: $color-active;
    @extend %transition;
  }

  .footer_item:active {
    color: $color-active;
    @extend %transition;
  }

@media (max-width: 1500px) {
    .top {
      padding: 63px 0 50px 0;
      height: 243px;
    }

    .footer__logo {
        margin-right: 39px;
    }

    .footer-navigation__column {
        display: grid;
        justify-content: space-between;
        grid-template-columns: auto auto;
        width: 313px;
        margin-top: 3px;
    }

    .footer-nav-link {
      line-height: 25.78px;
    }

    .footer-nav__socials {
      margin-bottom: 19px;
    }

    .footer__topwrapper {
      grid-template-columns: max-content 1fr max-content;
    }

    .bottom {
      padding-top: 5.4rem;
    }
}    

@media (max-width: 1023px) {
  .top {
    padding: 40px 0;
  }

  .footer {
    height: 308px;
    border-bottom: 1px solid #666666;
  }

  .footer__topwrapper {
    grid-template-columns: 0.5fr 1fr;
  }

  .footer__logo {
    margin-right: 10rem;
  }

  .footer-navigation {
    margin-bottom: 12px;
  }

  .footer-navigation__column {
    margin-top: 20px;
    grid-template-rows: repeat(3,45px);
  }

  .footer-nav__socials {
    grid-column: 2 / 3;
    margin-bottom: 0;
  }

  .footer-nav-link {
    font-size: 18px;
    line-height: 21.09px;
    letter-spacing: 2px;
    margin-right: 18.4rem;
  }

  .bottom {
    padding-top: 43px;
    padding-bottom: 40px;
  }

}

@media (max-width: 767px) {
  .logo__link {
    margin-bottom: 2.5rem;
  }

  .footer__topwrapper {
    display: block;
  }

  .footer-navigation__column {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    justify-content: space-between;
    column-gap: normal;
  }

  .link-on-dark {
    font-size: 1.6rem;
    line-height: 1.875rem;
  }

  .footer-nav-link {
    margin-right: 0;
  }

  .footer-nav__socials {
    justify-content: center;
  }

  .socials li {
    margin-right: 0.5rem;
  }

  .top {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .footer_item:nth-child(2) {
    display: none;
  }

  .bottom {
    padding: 4rem 0;
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  .footer__bottomline {
    border-top: 2px solid #666666;
  }
}