.header__wrapper {
    @extend %flex;
    padding: 5.9rem 0;
}

.burger {
    display: none;
}

.navigation {
    @extend %flex;
    font-weight: 200;
    cursor: pointer;
}

.navigation__link {
    margin-right: 5.5rem;
    &:last-child {
        margin-right: 0;
    }
}

.link-on-dark {
    @extend %transition;
    color: $color-on-dark;
    &:hover {
        color: $color-active;
    }
    &:active {
        color: $color-active;
    }
}

@media (max-width: 1500px) {
    .header__wrapper {
        padding: 4.9rem 0;
    }
    
    .navigation {
        display: none;
    }
}

@media (max-width: 1023px) {
    .header__wrapper {
        padding: 3.5rem 0;
    }
}