.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-overlay;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    position: relative;
    border-radius: 20px;
    background-color: #ffffff;
    width: 450px;
    min-height: 500px;
    max-height: 90%;
    &-picture {
        display: block;
        position: relative;
        margin: 0 auto;
        margin-top: 20px;
        border-radius: 20px;

    }
    &-result {
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 255px;
        left: 90px;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.correct {
    background-image: url("../img/svg/correct.svg");
}

.wrong {
    background-image: url("../img/svg/wrong.svg");
}

.modal-text {
    color: $color-background;
    text-align: center;
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}