.wrapper {
    max-width: $content-width;
    margin: auto;
    position: relative;
    @media (max-width: 1500px) {
        max-width: $tablet-big-width;
    }
}

.wrapper__welcome {
    position: relative;
    min-height: 81rem;
    @media (max-width: 1500px) {
        min-height: 58.5rem;
        background-size: 70rem 52.5rem;
    }
}

.wrapper__section {
    padding: 7.5rem 0;
}

.wrapper__gallery {
    padding-bottom: 0;
}

@media (max-width: 1500px) {
    .wrapper__section {
        padding: 6rem 0;
    }
}

@media (max-width: 1023px) {
    .wrapper {
        max-width: $tablet-small-width;
    }

    .header__wrapper {
        padding: 3.5rem 0;
    }

    .wrapper__section {
        padding: 4rem 0;
    }
}

@media (max-width: 767px) {
    .wrapper {
        max-width: $mobile-width;
    }

    .wrapper__welcome {
        min-height: 54.4rem;
    }
}


