.wrapper {
    max-width: $content-width;
    margin: auto;
    position: relative;
    @media (max-width: 1500px) {
        max-width: $tablet-big-width;
    }
}

.wrapper__welcome {
    position: relative;
    min-height: 81rem;
    background-image: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%), url("../assets/img/welcome/1.jpg");
    background-size: 100rem 75rem;
    background-repeat: no-repeat;
    background-position: right top;
    @media (max-width: 1500px) {
        min-height: 58.5rem;
        background-size: 70rem 52.5rem;
    }
}

.wrapper__section {
    padding: 7.5rem 0;
}

.wrapper__gallery {
    padding-bottom: 0;
}

@media (max-width: 1500px) {
    .wrapper__section {
        padding: 6rem 0;
    }
}

@media (max-width: 1023px) {
    .wrapper {
        max-width: $tablet-small-width;
    }

    .header__wrapper {
        padding: 3.5rem 0;
    }

    .wrapper__section {
        padding: 4rem 0;
    }
}

@media (max-width: 767px) {
    .wrapper {
        max-width: $mobile-width;
    }

    .wrapper__welcome {
        min-height: 54.4rem;
    }
}


